*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
Unity/Temp
Unity/Library/ScriptAssemblies/
Unity/Assets/Resources.Meta
Unity/Library/EditorInstance.json
Unity/Library/metadata
Unity/Library/*.log
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.cov/
Unity/.cov/
Unity/.vs/
Unity/Temp/UnityLockfile
Unity/Library/ShaderCache.db
Unity/Library/ShaderCache.db
